<div *ngIf="headerBar">
  <app-header></app-header>
</div>
<router-outlet></router-outlet>

<div class="wrapper">
  <div class="menu">
    <div
      class="menu-item"
      *ngFor="let item of menuItems"
      [ngStyle]="{'background-color': getBackgroundColor(item.color)}"
      [ngStyle]="getStyles(item.color)"
      (click)="onMenuItemClick(item.color)">
      <div class="menu-item__icon">
        <i [class]="item.icon"></i> <!-- Use icon from PrimeIcons -->
      </div>
      <div class="menu-item__text">
        {{ item.label }}
      </div>
    </div>
  </div>
</div>
