$white: #fff;
$purple: #5b37b7;
$pink: #c9379d;
$ocher: #e6a919;
$cyan: #1194aa;
$transition: 0.5s ease;

.menu {
  background: $white;
  width: auto; // Full width untuk responsif
  padding: 20px; // Padding yang fleksibel
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around; // Sesuaikan jarak antar item
  position: fixed; // Posisi fixed di bagian bawah layar
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); // Efek bayangan untuk kesan melayang
  z-index: 1000;

  @media (max-width: 768px) {
    padding: 15px; // Sesuaikan padding untuk layar kecil
  }

  @media (max-width: 480px) {
    flex-wrap: wrap; // Bungkus item jika layar terlalu kecil
    justify-content: center;
    gap: 30px;
  }
}

@media (min-width: 768px) {
  .menu {
    background: #fff;
    padding: 20px;
    display: flex;
    border-radius: 80px;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 3%;
    left: 50%; /* Posisikan dari kiri 50% */
    transform: translateX(
      -50%
    ); /* Geser separuh lebar elemen untuk benar-benar di tengah */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 77px;
    width: 312px;
    gap: 19px;
  }
}

.menu-item {
  display: flex;
  flex-direction: column; // Tata letak vertikal (ikon di atas teks)
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 10px; // Jarak antar item
  padding: 10px;
  border-radius: 50px;
  transition: background-color $transition, color $transition,
    transform $transition, opacity $transition;
  width: 60px; // Ukuran tetap untuk ikon
  height: 60px; // Pastikan proporsional

  @media (max-width: 480px) {
    width: 50px;
    height: 50px;
  }

  &.inactive {
    background-color: transparent !important;
    svg {
      color: #000 !important;
    }
    .menu-item__text {
      opacity: 0;
      font-size: 0px;
    }
    opacity: 0.5;
  }

  &.active {
    background-color: #f0f0f0;
    color: $purple;
    opacity: 1;
  }

  &__text {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    font-weight: 600;
    opacity: 1;

    @media (max-width: 480px) {
      font-size: 10px; // Ukuran teks lebih kecil
    }
  }

  // &__icon {
  //   svg {
  //     height: 24px;
  //     width: 24px;
  //     transition: transform $transition;
  //   }

  //   @media (max-width: 480px) {
  //     svg {
  //       height: 20px;
  //       width: 20px; // Ukuran ikon lebih kecil
  //     }
  //   }
  // }

  &:hover {
    transform: scale(1.1); // Efek pembesaran saat hover
  }
}
