.wrapper {
  background-color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  /* background-color: #fff; */
  border-radius: 30px;
  padding: 40px;
  z-index: 10;
  width: 500px;
  //   box-shadow: 0 4px 6px #0000001a;
  text-align: center;
}

.container h1 {
  color: #1f41bb;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 3rem;
}

.container p {
  color: #000;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: bold;
  margin-bottom: 3rem;
}

.container input[type="email"],
.container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 14px 0;
  border: 1px solid #1a73e8;
  border-radius: 5px;
  background-color: #f8f9fd;
  font-size: 14px;
  &:focus {
    border: none;
    outline: none;
  }
}

.container a {
  color: #1a73e8;
  font-size: 14px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  text-align: end;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.container button {
  width: 100%;
  padding: 15px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.container .create-account {
  color: #494949;
  font-size: 16px;
  font-weight: bold !important;
  margin: 30px 0;
}

.container .social-login {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container .social-login a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f8f9fd;
  border-radius: 5px;
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.liquid {
  position: absolute;
  top: -7px;
  z-index: 1;
  right: -21px;
  animation: scaleUpDown 3s ease-in-out infinite;
}

.liquid-img {
  width: 500px;
  height: auto;
}

.liquid2 {
  position: absolute;
  bottom: -25px;
  z-index: 1;
  left: -15px;
  animation: moveUpDown 3s ease-in-out infinite;
}

.liquid-img2 {
  width: 130px;
  height: auto;
}

@keyframes scaleUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
