<div class="content">

    <div class="container">
      <div class="header">
        <i class="pi pi-arrow-left"></i>
        <h1>Settings</h1>
      </div>
      <div class="section">
        <h2>Account</h2>
        <div class="item">
          <i class="pi pi-user"></i>
          <span>Edit profile</span>
        </div>
        <div class="item">
          <i class="pi pi-shield"></i>
          <span>Security</span>
        </div>
        <div class="item">
          <i class="pi pi-bell"></i>
          <span>Notifications</span>
        </div>
        <div class="item">
          <i class="pi pi-lock"></i>
          <span>Privacy</span>
        </div>
      </div>
      <div class="section">
        <h2>Support & About</h2>
        <div class="item">
          <i class="pi pi-credit-card"></i>
          <span>My Subscription</span>
        </div>
        <div class="item">
          <i class="pi pi-question-circle"></i>
          <span>Help & Support</span>
        </div>
        <div class="item">
          <i class="pi pi-info-circle"></i>
          <span>Terms and Policies</span>
        </div>
      </div>
      <div class="section">
        <h2>Cache & Cellular</h2>
        <div class="item">
          <i class="pi pi-trash"></i>
          <span>Free up space</span>
        </div>
        <div class="item">
          <i class="pi pi-refresh"></i>
          <span>Data Saver</span>
        </div>
      </div>
      <div class="section">
        <h2>Actions</h2>
        <div class="item">
          <i class="pi pi-exclamation-circle"></i>
          <span>Report a problem</span>
        </div>
        <div class="item">
          <i class="pi pi-user-plus"></i>
          <span>Add account</span>
        </div>
        <div class="item">
          <i class="pi pi-sign-out"></i>
          <span>Log out</span>
        </div>
      </div>
    </div>
    <div class="footer">
      <i class="pi pi-home"></i>
      <i class="pi pi-file"></i>
      <i class="pi pi-plus plus"></i>
      <i class="pi pi-cog"></i>
      <i class="pi pi-user"></i>
    </div>


</div>
