@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  font-family: "Roboto", sans-serif;
  margin: 0px !important;
  padding-bottom: 9rem;
}
